/* stylesheet for account services and admin tools pages */

/* ---class selectors--- */

.account-button
{
    border-radius: 10px;
    margin: 0;
    padding: 8%;
    width: 49%;
}

.page-title
{
    color: #ffffff;
    display: inline-block;
    margin-left: 10%;
}

.confirm-wrapper
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    white-space:nowrap;
}

.services-wrapper { /* change name to panel wrapper */
    background-color: #7e3e3e;
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    margin-bottom: 7%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} 

/* ---pseudo class selectors--- */

.account-button:hover
{
    color: #3c3c45 !important;
    background-color: #e0d79e !important;
}

/* ---id selectors--- */

#confirm-link
{
    width: 21.7%;
}

#delete-submit
{
    display: none;
}