/* stylesheet for index.php */

/* ---element selectors--- */
input[type="checkbox"]
{
    border: none; 
    color: #3c3c45;
    display: block;
    height: 20px;
    text-decoration: none;
    width: 20px;
}

input[type="file"]
{
    display: none;
}

/* ---class selectors--- */

.checkbox
{
    background-color: #3c3c45;
    border:none;
    color: #e0d79e;
    cursor: pointer;
    display: block;
    height: 20px;
    margin-bottom: 3%;
    -ms-user-select: none;
    pointer-events: auto;
    -webkit-user-select: none;
    width: 20px;
    user-select: none; 
} /*use label to style checkbox*/

.edit-button
{
    margin-left: 60%;
    vertical-align: baseline;
}

.disabled
{
    background-color: #3c3c45;
    pointer-events: none;
}

.form-button
{
    border-radius: 10px;
    font-size: 16pt;
    margin: 0;
    padding: 1%;
    width: 49%;
}

.file-upload 
{
    border: none;
    cursor: pointer;
    display: block;
    font-size: 14pt;
    margin: 2% 0;
    width: 100%;
}

.google-search-wrapper
{
    color:#fff;
    padding: 3% 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    width: 80%
}

.image-wrapper {
    background-color: #7e3e3e;
    color: #ffffff;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.page-title
{
    color: #ffffff;
    display: inline-block;
    margin-left: 2%;
}

.services-wrapper { /* change name to panel wrapper */
    background-color: #7e3e3e;
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} 

.tile.container-disable
{
    background-color: black;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    width: 48%;
}

.tile-button
{
    border-radius: 10px;
    font-size: 16pt;
    margin: 0;
    padding: 1%;
    width: 49%;
}

.tile-form
{
    border: 1px dotted #ffffff;
    border-radius: 10px;
    padding: 2%;
}

.tile-input
{
    border: none;
    display: block;
    padding: 1%;
    width: 100%;
}

/* ---pseudo class selectors--- */

input[type="checkbox"]:checked
{
    background-color: #e0d79e;
}

.disabled:hover
{
    background-color: #76767c;
    cursor: default;
}

/* ---id selectors--- */

#form-title
{
    margin: 0 0 2% 0;
}

#file-browser-card
{
    float: right;
}

#google-search
{
    background-color: #3c3c45;
    background-image: url('/img/google-logo.svg');
    background-position: 1%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 1% 3% 1% 5%;
    width: 100%;
}