/* shared stylesheet for swamp webserver */

/* ---element selectors */

a 
{
    text-decoration: none;
}

body
{
    background-color: #3c3c45;
}

/* ---class selectors--- */

.message
{
    color: #ffffff;
    float: right;
    margin-right: 5%;
    margin-top: revert;
}

.message-banner {
    background-color: #ab4747;
    color: #ffffff;
}

.page-wrapper
{
    width: 100%;
}

.service-button
{
    border-radius: 10px;
    margin: 0;
    padding: 8%;
    width: 100%;
}

.service-card
{
    margin: 0;
    padding: 1%;
}

.service-image
{
    width: 50%;
}

.service-name
{
    padding: 1%;
}

.service-title
{
    background-color: #e0d79e;
    border-radius: 10px;
    color: #3c3c45;
    margin-bottom: 3%;
    padding: 1%;
    text-align: center;
}

.title-bar {
    background-color: #d09a58;
}

.username
{
    display: inline-block;
    margin-left: 1%;
    color: #fff;
}

.w3-card
{
    box-shadow: none;
    display: inline-block;
    padding-bottom: 1%;
    padding-top: 2%;
    width: 49%;
}

/* ---pseudo class selectors--- */

.service-tile:hover
{
    color: #3c3c45 !important;
    background-color: #e0d79e !important;
}

.w3-button:hover
{
    background-color: #3c3c45 !important;
    color: #ffffff !important;
}